.details{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: #F6F6F6;
  transition: transform .2s;
}
.details-hidden{
  transform: scale(0);
}

.details-left, .details-right{
  display: flex;
  flex-flow: column;
  padding: 10px 30px;
  width: 50%;
  overflow: scroll;
}
.details p{
  line-height: 12px;
  font-size: 12px;
}
.details .highlight-text{
  color: #2F3D4A;
  font-size: 16px;
}
