.table-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.table-container::-webkit-scrollbar-track {
  background: #FAFAFA;
}
.table-container::-webkit-scrollbar-thumb{
  background: #D5D5D5;
}
