table{
  border-spacing: 0;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
td, th{
  padding-left: 20px;
  min-width: 210px;
  height: 65px;
  text-align: left;
  border-bottom: 1px solid #D5D5D5;
}
thead tr{
  background: #FAFAFA;
}
