.sorted-asc{
  transform: rotate(180deg)
}
thead img{
  margin-left: 3px;
}
.table-head{
  overflow: hidden;
}
.header th{
  background: #FAFAFA;
  height: 55px;
  user-select: none;
}
.total th{
  background: #FEF7EB;
  font-weight: normal;
  user-select: text;
}
.total th:first-child{
  font-weight: bold;
}
table th:first-child{
  border-right: 1px solid #D5D5D5;
}
